*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif, system-ui;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

h1 {
  color: green;
  border: 0 4px 8px rgba(0, 0, 0, 0.45);
  margin-bottom: 15px;
}

input[name="user"] {
  font-size: 1em;
  font-weight: 700;
  padding: 15px;
  border: 2px solid green;
  border-radius: 8px;
  background: lightgreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}

.retrieve {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: none;
  border-radius: 8px;
  background: lightblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 12em;
}

img { border: 2px solid green; border-radius: 50%; width: 120px; height: 120px; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 60%;
}

h3 {
  color: blue;
  margin-bottom: 5px;
}

span {
  font-size: 15px;  
}

.link { 
  background: red;
  border-radius: 8px;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}
